@import "tailwindcss";

@theme {
  --color-ink: #111111;
  --color-bordeaux: #8B1A4A;
  --color-sage: #4A6741;
  --color-cream: #F5F5F0;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
}

body {
  background-color: #111111;
  color: #F5F5F0;
}
